@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 24px;
}

/* 

NAV 

*/

nav {
  height: 80px;
  display: flex;
  background-color: #05986238;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 48px;
  color: #059862;
  font-weight: 500;
}

.logo--small {
  display: none;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
  color: #242424;
}

.nav__link:last-child {
  background-color: #059862;
  border-radius: 80px;
  color: #c8e8dd;
  font-weight: 700;
}

/* 

LANDING 

*/

header {
  height: calc(100vh - 80px);
  background-color: #059862;
}

/* 

BUTTON

*/

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button__container {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
}

.burger__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
}

.menu--open .burger__inner {
  justify-content: center;
}

.burger__btn,
.close__btn {
  position: absolute;
  top: 0;
  left: 0;
}

.burger__btn {
  visibility: visible;
}

.menu--open .burger__btn {
  visibility: hidden;
}

.close__btn {
  visibility: hidden;
}

.menu--open .close__btn {
  visibility: visible;
}

/* 

BURGER INGREDIENTS

*/

.ingredient__container {
  position: relative;
  height: calc(100% / 3);
}

.top-bun,
.patty,
.bottom-bun {
  position: absolute;
  background-color: #242424;
  width: 100%;
  height: 45%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
}

.top-bun,
.bottom-bun {
  left: 0;
}

.top {
  transform: translateY(0) rotate(0);
  transition: transform 600ms ease;
  will-change: transform;
}

.menu--open .top {
  transform: translateY(100%) rotate(-225deg);
}

.patty {
  right: 0;
  opacity: 1;
  transition: width 400ms ease-out, opacity 60ms ease-out 90ms;
  will-change: width;
}

.menu--open .patty {
  width: 0;
  opacity: 0;
  transition: width 400ms ease-out, opacity 60ms ease-in 240ms;
}

.bottom {
  transform: translateY(0) rotate(0);
  transition: transform 600ms ease;
  will-change: transform;
}

.menu--open .bottom {
  transform: translateY(-100%) rotate(225deg);
}

/* 

RESPONSIVENESS 

*/

@media (max-width: 768px) {
  .nav__link:not(:last-child) {
    display: none;
  }
}

@media (max-width: 550px) {
  .button__container {
    display: flex;
  }

  ul {
    display: none;
  }

  .logo--big {
    display: none;
  }

  .logo--small {
    display: block;
    font-size: 64px;
    font-weight: 700;
  }
}
